@model MyForumApp.Web.ViewModels.Posts.PostViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>Editing post with title @ViewData["Title"]</h1>

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<form asp-controller="Posts" asp-action="EditPost" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <textarea asp-for="@Model.Description" id="mytextarea">@Model.Description</textarea>
        <input asp-for="@Model.Id" type="hidden" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>

<hr />
<div>
    <a asp-controller="Categories" asp-action="GetByName" asp-route-name="@Model.CategoryName" type="button" class="btn btn-primary" />Back to the Category<a />
    <input asp-for="@Model.CategoryName" type="hidden" class="text-danger" />
</div>